<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>playground</title>
  </head>
  <body>
    <h1 style="text-align: center">welcome !</h1>
    <def style="display: flex; justify-content: center; flex-wrap: wrap">
      {% for x in range(0,num): %}
      <p
        style="
          width: 250px;
          height: 250px;
          background: {{color}};
          border: solid;
          margin-right: 30px;
        "
      ></p>
      {% endfor %}
    </def>
  </body>
</html>
